$piler__color: #3d3d3d;

body{
  background-color: rgb(140, 172, 160);
}

.sorting__container {
  text-align: center;
  margin-top:5px;

  .sorting__pilers {
    display: inline-block;
    background-color: $piler__color;
    width: 3px;
    margin: 0 1px;
  }
}